* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Roboto, arial,sans-serif;
    display: flex;
    flex-direction: column;
    /*padding: 0 300px*/

}


.navbar {
    padding: 8px 15vw;
    display: flex;
    justify-content: space-between;

    background-color: #1f2937;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    list-style: none;
}

.nav-links a,
.hero a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a {
    padding: 16px;
}

.nav-title {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.hero {
    display: flex;

    background-color: #1f2937;
    padding: 32px 15vw;
    align-items: center;
}

.hero h1 {
    color: #f9faf8;
    font-size: 48px;
}

.sign-up {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 24px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    padding-right: 48px;
}

.hero-image {
    align-self: center;
    width: 30vw;
    height: auto;
    border-color: grey;
    border-radius: 16px;
}